.app {
  text-align: center;
}

.app h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

.app p {
  font-size: 20px;
  color: #6b5b73;
  margin-bottom: 30px;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}


.card {
  width: 220px;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px #999;
  text-align: center;
  box-sizing: border-box;
}

.emoji {
  font-size: 60px;
  padding: 20px;
  background: #f3e8ff;
  border-radius: 12px;
  margin-bottom: 25px;
}

.card h2 {
  color: #7c3aed;
  margin-top: 10;
  margin-bottom: 20px;
}

.card h3 {
  color: #16a34a;
  font-size: 22px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.quantity button {
  border: none;
  background: wheat;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.quantity button:hover {
  background:wheat;
}

.quantity span {
  font-size: 20px;
  font-weight: bold;
}